<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= pageTitle %></title>

        <% include ./partials/_headMeta %>

    </head>
    <body>

        <% include ./partials/_navigation %>

        <div class="container postContainer">
            <% posts.forEach(function(post) { %>

                <div class="row">
                    <div class="col-md-12 postItem">
                        <a href="/posts/<%= post._id %>" class="postLink"><h2 class="text-center"><%= post.title %></h2></a>
                        <img src="<%= post.image %>" alt="<%= post.title %>" class="img img-responsive">
                        <hr>
                    </div>
                </div>

            <% }) %>
        </div>

        <% include ./partials/_scripts %>

    </body>
</html>
