<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= pageTitle %></title>

        <% include ./partials/_headMeta %>

    </head>
    <body>

        <% include ./partials/_navigation %>

        <div class="pageHeader" style="background-image: url(<%= post.image %>)">
            <div class="pageHeaderCover">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center singlePostTitle"><%= post.title %></h1>
                        </div>
                    </div>
                </div>
            </div> <!-- END HEADER COVER -->
        </div> <!-- END POST HEADER -->
        <div class="container postContainer">
            <div class="row">
                <div class="col-md-12 postMeta">
                    <h4 class="text-center">Published <span><%= moment(post.datePublished, 'YYYYMMDD').fromNow() %></span> by <span><%= post.author %></span></h4>
                </div> <!-- META DATA FOR POST -->
                <div class="col-md-12 postContent">
                    <p><%= post.content %></p>
                    <p><%= post.content %></p>
                </div>
                <div class="col-md12 text-right">
                    <a href="/posts/<%= post._id %>/edit" class="btn edit">edit post</a>
                </div>
            </div>
        </div>



        <% include ./partials/_scripts %>

    </body>
</html>
